<ul class="nav">
    <li {% if nav is 'dashboard' %}class="active" {% endif %}>
        <a href="/">
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a href="/locations/">
            <i class="pe-7s-note2"></i>
            <p>Location List</p>
        </a>
    </li>
    <li>
        <a href="/tweets/">
            <i class="pe-7s-speaker"></i>
            <p>Tweets</p>
        </a>
    </li>
    <li>
        <a href="/hashtags/">
            <i class="pe-7s-news-paper"></i>
            <p>HashTags</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-map-marker"></i>
            <p>Maps</p>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="pe-7s-bell"></i>
            <p>Notifications</p>
        </a>
    </li>
   <li class="active-pro">
        <a href="/admin">
            <i class="pe-7s-rocket"></i>
            <p>Go To Admin</p>
        </a>
    </li>
</ul>
